{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldtype_donnee_experienceexperience_id">experience_id</label><input type="text" id="somefieldtype_donnee_experienceexperience_id" name="experience_id"/></div>
<div class="field"><label for="somefieldtype_donnee_id">type_donnee_id</label><select id="somefieldtype_donnee_id" name="type_donnee_id"><option value="novalue">no value</option>
{% for sometype_donnee in touslestype_donnee %}
<option value="{{ sometype_donnee['id'] }}">{{ sometype_donnee['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in type_donnee_experiences %}{{x["experience_id"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_type_donnee_experience"> add one type_donnee_experience</a>{% endblock %}